<?xml version="1.0" encoding="UTF-8"?>
<suite name="Acceptance suite">
    <listeners>
        <listener class-name="by.stormnet.core.common.AnnotationTransformer"/>
    </listeners>
    <test verbose="1" name="Lamoda test">
        <classes>
            <class name="project.by.stormnet.functional.tests.LamodaTest_jenkins"/>
        </classes>
    </test>
</suite>